{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "all",
	"arrowParens": "avoid",
	"tabWidth": 4,
	"printWidth": 100,
	"overrides": [
		{
			"files": "./src/*{.svelte,.ts}",
			"options": { "parser": "svelte" }
		}
	],

	"svelteIndentScriptAndStyle": true,
	"svelteStrictMode": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true
}
